{% extends 'base.html' %}

{% block content %}


<div class="main">
        <h1>Add Member or Student</h1>

        <form action="{%url 'add_member' %}" method="POST">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
            {% endif %}
            <label>
                Book Name:
            </label>
            <input type="text" name="title" 
                placeholder="Enter Book Name" required>

            <label">
                Book Author:
            </label>
            <input type="text" name="author" 
                placeholder="Enter Book Author Name" required>

            <label>
                Book ISBN:
            </label>
            <input type="text" name="isbn" 
                placeholder="Enter Book ISBN" required>


            <label>
                Book Quantity:
            </label>
            <input type="number" name="quantity" 
                placeholder="Enter Book Quantity" required>

            <label>
                Category:
            </label>
            <input type="text"  name="category" 
                placeholder="Enter Category of Book" required>

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>


{% endblock %}